<%= render "/navbar" %>

<p align="center">Joins Us!</p>

<div class="container nunito">
  <div class="row">
    <div class="col align-self-start">
      Campaigns
    </div>
    <div class="col align-self-center">
      Volunteers
    </div>
    <div class="col align-self-end">
      Donations
    </div>
  </div>
</div>